h1 {
  color: rgb(12, 228, 228);
}
section{
  text-align: center;
}
h1{
  font-size: 130px;
  font-family: sans-serif;
}
.player{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.player > p{
  font-size: 30px;
}

img{
  width: 100px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
}
p{
  font-family: sans-serif;
  color: rgb(12, 228, 228);

}
